# Dataset
dataset_of_plant_image/
new_test_images/
dataset/

# Python virtual environment
venv/
.venv/
tf_env/
python/

# Cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model checkpoints (optional)
*.ckpt

# Documents (don't upload)
*.ppt
*.pptx
*.doc
*.docx
*.pdf
*.txt

# OS files
.DS_Store
Thumbs.db
# Model file
*.h5